@import "../../variables";

.typingForm {
        
    display: grid;
    grid-template-columns: 85% auto;
    grid-template-rows: 50px;
    grid-template-areas: "input button";

    .inputSection {
        grid-area: input;
        
        input {
            @include fullScreen();
            padding: 15px;
            font-size: 1em;
            border-style: none;
            box-sizing: border-box;
            outline: none;
            @include desktop() {
                border-radius: 0 0 0 $borderRadius/3;
            }
        }
    }

    .buttonSection {
        grid-area: button;

        button {
            @include fullScreen();
            border-style: none;
            background-color: #fff;
            color: color(primary);
            font-size: 1em;
            text-transform: uppercase;
            outline: none;
            @include desktop() {
                border-radius: 0 0 $borderRadius/3 0;
            }

            &:active {
                background-color: #fff;
                color: color(primary-dark);
            }
        }
    }
}