@import "../../variables";

.chatContainer {
    background-color: color(primary-chat-bg);
    border-radius: $borderRadius;

    @include fullScreen();

    @include desktop() {
        max-width: $desktop;
        height: 70%;
        margin: auto;
        margin-top: $margin * 20;
        box-shadow: 0 10px 30px rgba(0,0,0,0.6);
    };

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 48px auto 48px;

    .titleDiv {
        width: $width;
        background-color: #fff;
        border-radius: $borderRadius/3 $borderRadius/3 0 0;
        font-size: 2em;
        position: relative;

        .closeChat {
            text-decoration: none;
            position: absolute;
            top: 50%;
            left: 95%;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: bold;
            color: red;
        }

        .chatTitle {
            color: color(primary-dark);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .messageDiv {
        padding: 10px;
        overflow: scroll;
    }

    .inputDiv {
        width: $width;
    }
}